.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.modal-content h2 {
  color: #4C9A2A; /* Economic green for titles */
}

.modal-content input, .modal-content textarea {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background-color: #4C9A2A; /* Economic green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #367A22; /* Darker shade of green for hover state */
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}
