.cart-container {
    width: 60%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    
    
    h1 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;

    }
    .b {
        margin: 0px 10px;
    }

    
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    
}

.cart-table th, .cart-table td {
    border: 0px solid #000000;
    padding: 10px;
    text-align: center;
    justify-content: center;
    
}

.cart-table th {
    background-color: #4C9A2A;
    color: white;
}

.remove-button, .quantity-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-button:hover, .quantity-controls button:hover {
    background-color: #d32f2f;
}

.checkout-button {
    background-color: #4C9A2A;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: flex-end;
    text-align: right;
    
}

.c {
    display: flex;
    margin-top: 10px;
    align-items: end;
    justify-content: end;
}
.checkout-button:hover {
    background-color: #4da151;
}



.total {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-items: end;
    justify-content: end;
    margin-top: 20px;
}

.d{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}