.chat-container {
    position: fixed;
    bottom: 1px;
    right: 20px;
    z-index: 1000;
    width: 300px;
}

.chat-toggle-btn {
    background: #4C9A2A;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat-box {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: auto;
    position: absolute;
    bottom: 60px;  /* Positioning right above the chat icon */
    width: 100%;
}

.chat-header {
    background-color: #4C9A2A;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative; /* Necessary for absolute positioning of the close button */
}

.chat-close-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.chat-body {
    height: 350px;
    overflow-y: auto;
    
}

.chat-session {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.timestamp {
    display: block;
    font-size: 0.8em;
    color: #666;
}
