.checkout-success {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 8px;

    h1{
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.order-details {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.order-item p {
    color: #333;
    font-size: 16px;
}

.total {
    font-weight: bold;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    /* background-color: #4C9A2A; */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #367A22;
}
