.home1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
  grid-gap: 20px; /* Space between columns */
  
}

@media (max-width: 768px) {
  .home {
      grid-template-columns: repeat(2, 1fr); /* For smaller screens, use 2 columns */
  }
}

/* Home.css */
.add-product-card {
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 90%; /* Match the width of other cards */
  margin: 20px auto; /* Centers the card and adds vertical spacing */
  height: 400px; /* Same height as other cards */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #4C9A2A; /* Economic green color for the plus symbol */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transform and shadow on hover */
}

.add-product-card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Deeper shadow on hover */
}


.add-new-product {
  background-color: #f4f4f4;
  border: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-new-product:hover {
  background-color: #e9e9e9;
}

.add-new-image {
  font-size: 3rem;
  color: #4C9A2A; /* Economic green */
  height: 70%; /* Keeping it consistent with other cards */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}