.account-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.account-container h1 {
    color: #4C9A2A;
    margin-bottom: 20px;
    font-size: 1.5rem;    
    font-weight: bold;
}

.account-container h2{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.user-info-container, .password-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}



input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.save-btn, .change-password-btn {
    background-color: #4C9A2A;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.save-btn:hover, .change-password-btn:hover {
    background-color: #367A22;
}

.actions .buy-now, .actions .add-to-cart {
    background-color: #4C9A2A;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.actions .buy-now:hover, .actions .add-to-cart:hover {
    background-color: #367A22;
}
