.sales-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7faf9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4caf50;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;  /* Increase font size */
    font-weight: bold;  /* Make the font bold */
}

.order-card {
    background-color: #e9f5e7;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #c5e1a5;
    position: relative;
}

.order-card .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-card h2 {
    color: #4caf50;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.order-card p {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.order-items .order-item {
    background-color: #f7faf9;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 3px;
    color: #333;
}

.order-items .order-item p {
    font-size: 1.1em;
}

.total {
    font-size: 1.2em;
    margin-top: 15px;
    text-align: right;
    color: #4caf50;
}

.aa {
    color: #4caf50;
    font-size: 1.0em;
    margin-bottom: 15px;
    text-align: right;
    font-weight: bold;
}