.product-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: #333;
}

.product-image img {
    width: 100%; /* Adjusted to take the full width of its container */
    height: auto;
    border-radius: 8px;
    padding: 50px;
    margin-left: 50px;
}

.product-image {
    flex: 1 1 50%; /* Assign flex-grow, flex-shrink, and flex-basis */
}

.product-info {
    flex: 1 1 50%; /* Same flexibility as the image to balance the layout */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
}

.product-info h1, .product-info h2 {
    color: #333;
}

.product-info h1 {
    font-size: 2rem;
    font-weight: bolder;
  
}

.product-info h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4C9A2A; /* Economic green */
    margin-bottom: 15px;
}

.product-info p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.quantity-controls-product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-controls-product button {
    border-color: #000;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.quantity-controls-product span {
    margin: 0 10px;
    font-size: 1rem;
}

.actions button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.actions button:hover {
    background-color: #222;
}

.actions .buy-now {
    background-color: #4C9A2A;
    color: #fff;
}

.actions .buy-now:hover {
    background-color: #367A22;
}


.review-section {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.review-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.review-navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.review-navigation button {
    background-color: #4C9A2A;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.review-navigation button:hover {
    background-color: #367A22;
}

.review-navigation button[disabled] {
    opacity: 0.5;
    cursor: default;
}
