/* Welcome.css */


.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    color: #4C9A2A; 
    text-align: center;
  }
  
  
  
  
  .icon-3d {
    display: inline-block;
    font-size: 150px; /* Large size for visibility */
    color: #4C9A2A;
    text-shadow: 0 0 10px #b6d7a8, 0 0 20px #b6d7a8, 0 0 30px #b6d7a8, 0 0 40px #b6d7a8, 0 0 50px #b6d7a8, 0 0 60px #b6d7a8, 0 0 70px #b6d7a8; /* Glowing effect */
    animation: rotate 20s linear infinite; /* Smooth infinite rotation */
    margin-bottom: 50px;
    
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  

  
  .start-button {
    font-size: 1.25rem;
    padding: 10px 20px;
    background-color: #4C9A2A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #367A22; /* A darker shade of green for hover effect */
  }
  

  